.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: black;
}

h1 {
  color: teal;
}

input {
  background-color: white;
  border-radius: 10px;
  border: 2px solid teal;
  padding: 10px;
  margin: 10px;
  width: 200px;
  display: block;
}

button {
  color: white;
  background-color: teal;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: none;
  font-size: 1.1rem;
}

button:hover {
  background-color: #303030;
}

table,
td,
tr {
  border: 2px solid teal;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

@media (max-width: 768px) {
  td {
    padding: 2px;
  }
}
